
<div class="container mt-3">
    <input type="text" placeholder="TOP NEWS">
    <div class="newlist mt-5" *ngFor="let newsItem of textRecord.news">
        <div class="row">
            <div class="col-5">
                <img [src]="newsItem.imageURL" height="200px" alt="" style="border: 1px solid black;">
            </div>
            <div class="col-7">
                <h4>{{newsItem.headline}}</h4>
                <a [href]="newsItem.normURL" target="_blank">{{newsItem.normURL}}</a>
            </div>
        </div>
    </div>
</div>